﻿@model GameOfLife.Engine
@{
    var world = Model.World;
    int height = world.GetLength(0);
    int width = world.GetLength(1);

    ViewData["Title"] = "Game of Life";
}
<div class="text-center">
    <table>
        @for (int i = 0; i < height; i += 1)
        {
            <tr>
                @for (int j = 0; j < width; j += 1)
                {
                    <td>@world[i, j]</td>
                }
            </tr>
        }

    </table>
    <form asp-action="NewGeneration">
        <input type="hidden" name="worldAsString" value="@Model.ToString()" />
        <button type="submit">Next</button>
    </form>
</div>



